@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap");
@media screen and (max-width: 768px) {
  .logo:hover {
    transform: scale(0.8);
    transition: .3s; }
  .title:hover {
    color: #6b0909; }
  .imagen-fondo, .imagen-fondo-dos {
    height: 20rem; }
  .article-index {
    padding: 3.125rem;
    margin: auto;
    background-color: #151515d7; }
  .section-form {
    text-align: center;
    background-color: #202020; }
  .flex-form {
    align-items: center;
    justify-content: space-between;
    padding: 0 32px; }
  .btn {
    font-size: 25px; }
  .btn:hover {
    font-size: 32px; }
  .menu-footer-img:hover {
    background-color: #d8d4d40c;
    width: auto;
    height: auto; }
  /*films*/
  .conteiner-all-films iframe {
    width: 700px;
    height: 450px; }
  /*news*/
  .section-first {
    margin: 32px 0; }
  .conteiner-all-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px; }
  .new {
    background-color: #000000ad;
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-size: 32px; }
    .new h3:hover {
      text-decoration: underline;
      transition: .3s;
      cursor: pointer; }
  .new h3:hover {
    text-decoration: underline;
    transition: .3s;
    cursor: pointer; }
  /*characters*/
  .section-character {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; } }

@media screen and (max-width: 375px) {
  .section-article-img-character {
    box-shadow: 0px 0px 2rem rgba(255, 255, 255, 0.432);
    width: 12rem; } }

@media screen and (max-width: 375px) and (max-width: 320px) {
  .section-article-img-character {
    box-shadow: 0px 0px 2rem rgba(255, 255, 255, 0.432);
    width: 10rem; } }

* {
  margin: 0;
  padding: 0; }
  * body {
    background-color: #151515d7;
    color: #f3f3f3;
    font-family: 'Dongle', sans-serif; }

.encabezado {
  position: sticky;
  top: 0;
  z-index: 2; }
  .encabezado .logo {
    display: flex;
    width: 100px;
    height: 100%;
    align-self: center;
    justify-content: center; }

footer ul {
  list-style: none; }

/* clases generales */
.logo-footer {
  display: none; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020a1; }
  .footer .menu-footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center; }
    .footer .menu-footer li {
      align-self: center;
      margin: 16px; }

.imagen-fondo, .imagen-fondo-dos {
  background-image: url(../images/recursos/fondo1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 20rem; }

.imagen-fondo-dos {
  background-image: url(../images/recursos/fondo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 20rem; }

.article-index {
  padding: 3.125rem;
  margin: auto;
  background-color: #151515d7; }

.section-form {
  text-align: start;
  padding: 16px;
  background-color: #1f1e1eaf; }

.title-character {
  font-size: 45px; }

.conteiner-character {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .conteiner-character .section-character {
    display: flex;
    justify-content: center; }
    .conteiner-character .section-character .section-character-article h3 {
      text-align: center; }
    .conteiner-character .section-character .section-character-article {
      margin: 0 70px 40px 70px; }
    .conteiner-character .section-character .section-article-img-character {
      display: flex;
      border-radius: 100%;
      border: solid;
      border-color: white;
      box-shadow: 0px 0px 2rem rgba(255, 255, 255, 0.432);
      width: 10rem;
      z-index: 0px;
      justify-content: space-around;
      filter: grayscale(100%);
      transition: .5s; }
    .conteiner-character .section-character .section-article-img-character:hover {
      filter: grayscale(0%);
      transform: scale(1.5) rotate(360deg); }

.conteiner-all-films h2 {
  text-decoration: underline; }

.conteiner-all-films iframe {
  width: 350px;
  height: 200px; }

.conteiner-all-films .article-films {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px; }
  .conteiner-all-films .article-films .article-p-films {
    text-align: center; }

.conteiner-all-films .article-spiderman {
  background-color: #b61111ad; }

.conteiner-all-films .article-venom {
  background-color: #000000ad; }

.conteiner-all-films .article-eternals {
  background-color: #050552ad; }

.conteiner-all-films .article-black-widow {
  background-color: #dc143cad; }

.section-first {
  margin: 32px 0; }
  .section-first .conteiner-all-news {
    display: flex;
    flex-flow: column; }
    .section-first .conteiner-all-news .new {
      background-color: #000000ad;
      display: flex;
      flex-direction: column;
      padding: 32px;
      font-size: 32px; }
      .section-first .conteiner-all-news .new h3 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 48px;
        background-color: rgba(117, 21, 21, 0.438); }

h1 {
  margin: 32px;
  font-size: 2.313em;
  display: block;
  white-space: nowrap;
  width: 16ch;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden; }

@keyframes typing {
  from {
    width: 0; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

h2 {
  font-size: 2.313em; }

h3 {
  font-size: 32px; }

p {
  font-size: 1.688rem; }

.fondo-body {
  background-image: url(../images/recursos/fondo3.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
