@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap');


/* etiquetas sueltas generales */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #151515 ;
    color: #f3f3f3;
    font-family: 'Dongle', sans-serif;
}


h1{
    font-size: 2.813rem;
}

h2{
    font-size: 2.313rem;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.688rem;
}

footer ul{
    list-style: none;
}

/* clases generales */

.encabezado{
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo{
    display: flex;
    width: 100px;
    height: 100%;
    align-self: center;
    justify-content: center;
}

.logo-footer{
    display: none;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020a1;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.menu-footer div{
    display: flex;
    justify-content: start;
}

.menu-footer li{
    align-self: center;
    margin: 1rem;
}

.fondo-body{
    background-image: url(../images/recursos/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* index */

.imagen-fondo{
    background-image: url(../images/recursos/fondo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 10rem;
}

.imagen-fondo-dos{
    background-image: url(../images/recursos/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 10rem;
}

.article-index{
    padding: 3.125rem;
    margin: auto;
    background-color: #151515d7;
}

.section-form{
    text-align: start;
    padding: 16px;
}


/* characters */

.title-character{
    font-size: 45px;
}

.conteiner-character{
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-character{
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-character-article{
	margin: 0 70px 40px 70px;
}

.section-character-article h3{
    text-align: center;
}

.section-article-img-character{
    display: flex;
	border-radius: 100%;
	border: solid;
	border-color: white;
	box-shadow: 0px 0px 2rem rgba(255, 255, 255, 0.432);
	width: 10rem;
    z-index: 0px;
}

/* films */

.conteiner-all-films h2{
    text-decoration: underline;
}

.conteiner-all-films iframe{
    width: 350px;
    height: 200px;
}

.article-films{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 50px;
}

.article-p-films{
    text-align: center;
}

.article-spiderman{
    background-color: #b61111ad;
}

.article-venom{
    background-color: #000000ad;
}

.article-eternals{
    background-color: #050552ad;
}

.article-black-widow{
    background-color: #dc143cad;
}


/*news*/
.section-first{
    margin: 32px 0;
}
.conteiner-all-news{
    display: flex;
    flex-flow: column;
}

.new{
    background-color: #000000ad;
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-size: 32px;
}

.new h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 48px;
    background-color: rgba(117, 21, 21, 0.438);
}



@media screen and (min-width: 768px){

    .logo:hover{
        transform: scale(.8);
        transition: .3s;
    }

    .title:hover{
        color: rgb(107, 9, 9);
    }

    .imagen-fondo{
        height: 20rem;
    }

    .imagen-fondo-dos{
       height: 20rem;
    }
    .article-index{
        padding: 3.125rem;
        margin: auto;
        background-color: #151515d7;
    }

    .section-form{
        text-align: center;
        background-color: #202020;
    }

    .flex-form{
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    }

    .btn{
    font-size: 25px;
    }

    .btn:hover{
    font-size: 32px;
    }

    .menu-footer-img:hover{
        background-color: rgba(216, 212, 212, 0.048);
        width: auto;
        height: auto;
    }

    /*films*/

    .conteiner-all-films iframe{
        width: 700px;
        height: 450px;
    }

    /*news*/
    .section-first{
    margin: 32px 0;
    }
    .conteiner-all-news{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }

    .new{
        background-color: #000000ad;
        display: flex;
        flex-direction: column;
        padding: 32px;
        font-size: 32px;
    }

    .new h3:hover{
        text-decoration: underline;
        transition: .3s;
        cursor: pointer;
    }

    /*characters*/


    .section-character{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .section-article-img-character{
        justify-content: space-around;
        width: 12rem;
        z-index: 0px;

        animation:

        filter: grayscale(100%);
        transition: .5s;
    }
  
    .section-article-img-character:hover{
        filter: grayscale(0%);
        transform: scale(1.5) rotate(360deg);
    }
}

@media screen and (max-width: 375px) {
    .section-article-img-character{
        box-shadow: 0px 0px 2rem rgba(255, 255, 255, 0.432);
        width: 12rem;
    }

@media screen and (max-width: 320px){
    .section-article-img-character{
        box-shadow: 0px 0px 2rem rgba(255, 255, 255, 0.432);
        width: 10rem;
    }
}