.conteiner-all-films{
    h2{
    text-decoration: underline;
    }

    iframe{
        width: 350px;
        height: 200px;
    }

    .article-films{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 50px;

        .article-p-films{
            text-align: center;
        }
    }
    .article-spiderman{
        background-image: url(../images/recursos/spidermanfondo.jpg);
        
        font-weight: bold;
    }

    .article-venom{
        background-image: url(../images/recursos/venomfondo.jpg);
        
        font-weight: bold;
    }

    .article-eternals{
        color: black;
        background-image: url(../images/recursos/eternalsfondo.jpeg);
        background-size: cover;
        
        p{
            color: black;
            font-weight: bold;
        }
        
    }
    
    .article-black-widow{
        background-image: url(../images/recursos/blackwidowsfondo.jpg);
        background-size: cover;
        color: black;
        p{
            color: black;
            font-weight: bold;
        }
    }
}