.conteiner-all-films{

    iframe{
        width: 350px;
        height: 200px;
    }

    .article-films{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 50px;

        .article-p-films{
            text-align: center;
        }
    }
    .article-spiderman{
        background-image: url(../images/recursos/spidermanfondo.jpg);
        h2{
            background-color: #b61111ad;
            padding: 16px;
        }
        p{
        padding: 16px;
        font-weight: bold;
        background-color: #b61111ad;
        }
    }

    .article-venom{
        background-image: url(../images/recursos/venomfondo.jpg);
        
        h2{
            background-color: #000000ad;
            padding: 16px;
        }

        p{
            padding: 16px;
            font-weight: bold;
            background-color: #000000ad;
        }
    }

    .article-eternals{
        background-image: url(../images/recursos/eternalsfondo.jpeg);
        background-size: cover;
        
        h2{
            background-color: #050552ad;
            padding: 16px;
        }

        p{
            padding: 16px;
            font-weight: bold;
            background-color: #050552ad;
        }
        
    }
    
    .article-black-widow{
        background-image: url(../images/recursos/blackwidowsfondo.jpg);
        background-size: cover;

        h2{
            background-color: #dc143cad;
            padding: 16px;
        }

        p{
            padding: 16px;
            font-weight: bold;
            background-color: #dc143cad;
        }
    }
}