@mixin fondo {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 20rem;
}

.imagen-fondo{
    background-image: url(../images/recursos/fondo1.jpg);
    @include fondo;
}

.imagen-fondo-dos{
    background-image: url(../images/recursos/fondo2.jpg);
    @include fondo;
}

.article-index{
    padding: 3.125rem;
    margin: auto;
    background-color: $color_principal;
}

.section-form{
    text-align: start;
    padding: 16px;
    background-color: #1f1e1eaf;
}