@media screen and (max-width: 768px){

    .logo:hover{
        transform: scale(.8);
        transition: .3s;
    }

    .title:hover{
        color: rgb(107, 9, 9);
    }

    .imagen-fondo{
        height: 20rem;
    }

    .imagen-fondo-dos{
       height: 20rem;
    }
    .article-index{
        padding: 3.125rem;
        margin: auto;
        background-color: #151515d7;
    }

    .section-form{
        text-align: center;
        background-color: #202020;
    }

    .flex-form{
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    }

    .btn{
    font-size: 25px;
    }

    .btn:hover{
    font-size: 32px;
    }

    .menu-footer-img:hover{
        background-color: rgba(216, 212, 212, 0.048);
        width: auto;
        height: auto;
    }

    /*films*/

    .conteiner-all-films iframe{
        width: 700px;
        height: 450px;
    }

    /*news*/
    .section-first{
    margin: 32px 0;
    }
    .conteiner-all-news{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }

    .new{
        background-color: #000000ad;
        display: flex;
        flex-direction: column;
        padding: 32px;
        font-size: 32px;

        h3:hover{
            text-decoration: underline;
            transition: .3s;
            cursor: pointer;
        }
    }

    .new h3:hover{
        text-decoration: underline;
        transition: .3s;
        cursor: pointer;
    }

    /*characters*/


    .section-character{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    }

@media screen and (max-width: 375px) {
    .section-article-img-character{
        box-shadow: 0px 0px 2rem rgba(255, 255, 255, 0.432);
        width: 12rem;
    }

@media screen and (max-width: 320px){
    .section-article-img-character{
        box-shadow: 0px 0px 2rem rgba(255, 255, 255, 0.432);
        width: 10rem;
    }
}}